/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*** Begin my styling *****/


/********* Primary Header *********/
.primary-header {
    font-family: 'Geologica', sans-serif;
    font-size: 25px;
    height: 40px;
    background-color: #f2e6ff;
    
}

/******** States (Map) Images *****/
.state-image-container {
    display: flex;
    justify-content: space-around;
    width: 100%;
}



.header-image {
    height: 200px;
    opacity: 0.5;
}

.column-b {
    width: 1200px;
    background-color: #c2c2e6;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.container-title {
    display: flex;
    margin: 50px;
    font-family: 'Geologica', sans-serif;
    font-size: 30px;
}


/******** Table ***************/


table {
    width: 100%;
    background-color:  #f2e6ff;
}

th {
    height: 30px;
}

td {
    width: 20%;
    text-align: center;

}

.tr-state {
    font-size: 16px;
    font-family: 'Geologica', sans-serif;
}

tr:hover {background-color: lightblue;}
tr:nth-child(even) {background-color: #f2ccff};



/***** Paragraphs ********/

.result-container {
    background-color: #f2e6ff;
}

p, ul {
    font-family: 'Geologica', sans-serif;
    font-size: 12px;
}

.success-msg {
    font-family: 'Geologica', sans-serif;
    font-size: 28px;
    color: #4747d1;
}


/******** Buttons **********/


.nav-btn {

  appearance: none;
  background-color: #FAFBFC;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
  box-sizing: border-box;
  color: #24292E;
  cursor: pointer;
  display: inline-block;
  font-family: 'Geologica', sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  padding: 6px 26px;
  position: relative;
  transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  word-wrap: break-word;
  margin: 2px 2px 2px 2px;
}

.nav-btn:hover {
  background-color: #F3F4F6;
  text-decoration: none;
  transition-duration: 0.1s;
}

.nav-btn:disabled {
  background-color: #FAFBFC;
  border-color: rgba(27, 31, 35, 0.15);
  color: #959DA5;
  cursor: default;
}

.nav-btn:active {
  background-color: #EDEFF2;
  box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
  transition: none 0s;
}

.nav-btn:focus {
  outline: 1px transparent;
}

.nav-btn:before {
  display: none;
}



/************ Input Elements ***************/
.input-box {
    display: flex;
    flex-direction: column;
    width: fit-content;
    position: static;
    max-width: 240px;
 }
  
  .input-box label.text {
    font-size: 0.75rem;
    color: #818CF8;
    font-weight: 700;
    position: relative;
    top: 0.5rem;
    margin: 0 0 0 7px;
    padding: 0 3px;
    background: #e8e8e8;
    width: fit-content;
  }
  
  .input-box input[type=text].input {
    padding: 11px 10px;
    font-size: 0.75rem;
    border: 2px #818CF8 solid;
    border-radius: 5px;
    background: #e8e8e8;
  }
  
  .input-box input[type=text].input:focus {
    outline: none;
  }

